$themes: (
    dark: (
        font: "Inter",
        disq_purple: #6812ca,
        disq_blu: rgb(53, 81, 158),
        disq_red: #d43131,
        groi: rgb(145, 145, 145),
        brand_color_1: #0c0f14,
        brand_color_2: #131820,
        brand_color_3: #0a0d11,
        brand_color_4: #0e1318,
        watermark_color:  #1b2636,
        text_color: #fff,
        text_color_alt: #000,

        img_white: brightness(1),
        img_black: brightness(0),
    ),
    light: (
        font: "Inter",
        disq_purple: #6812ca,
        disq_blu: rgb(53, 81, 158),
        disq_red: #d43131,
        groi: rgb(145, 145, 145),
        brand_color_1: #f0f0f0,
        brand_color_2: #e4e4e4,
        brand_color_3: #dadada,
        brand_color_4: rgb(233, 233, 233),
        watermark_color:  #1b2636,
        text_color: #000,
        text_color_alt: #fff,

        img_white: brightness(0),
        img_black: brightness(1),
    ),
    ultradark: (
        font: "Inter",
        disq_purple: #6812ca,
        disq_blu: rgb(53, 81, 158),
        disq_red: #d43131,
        groi: rgb(145, 145, 145),
        brand_color_1: #000,
        brand_color_2: #080a0e,
        brand_color_3: #050608,
        brand_color_4: #090c0f,
        watermark_color:  #1b2636,
        text_color: #fff,
        text_color_alt: #000,

        img_white: brightness(1),
        img_black: brightness(0),
    ),
    pain: (
        font: "Comic Sans MS",
        disq_purple: rgb(78, 29, 255),
        disq_blu: rgb(255, 81, 0),
        disq_red: #ff0000,
        groi: rgb(255, 255, 255),
        brand_color_1: #00e1ff,
        brand_color_2: #d9ff00,
        brand_color_3: #1100ff,
        brand_color_4: rgb(44, 35, 179),
        watermark_color:  #1b2636,
        text_color: rgb(250, 19, 250),
        text_color_alt: rgb(182, 17, 17),

        img_white: brightness(1),
        img_black: brightness(0),
    ),
)