@import './mixins/theme.scss';
@import 'colors.scss';

.profile_container {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.profile_header {
    width: 100%;
    height: 300px;

    background-position: center;
    background-size: cover;
    border: #fff 5px;
    // filter: blur(5px);
}

.profile_pfp {
    @include themed('background-color', 'brand_color_1');

    height: 128px;
    width: 128px;
    
    border-radius: 1000px;
    @include themed('color', 'brand_color_3');
    border-width: 4px;
    border-style: solid;

    margin-top: -65px;

    // margin-bottom: 0;
}

.profile_username {
    margin-top: 10px;
    font-size: calc(25px + 3vw);
    margin-bottom: 10px;
}

.profile_tick {
    vertical-align: middle;
    margin-left: 1vw;
    font-size: calc(20px + 2vw);
    margin-bottom: 0;
    margin-top: 0;
}

.profile_bio {
    text-align: center;
    word-wrap: break-word;
    width: 40%;
    min-width: 250px;
}

.profile_links {
    width: 30%;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    padding-bottom: 50px;
}

.profile_tag {
    margin-top: -5px;
    @include themed('color', 'groi');
}

.profile_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @include themed('background-color', 'brand_color_2');
    padding: 10px;
    border-radius: 5px;
    margin: 5px;

    min-width: 200px;
    width: 300px;

    transition: filter 0.1s ease;
    animation: slideInProfile ease 0.8s;
    animation-fill-mode: forwards;
}

@keyframes slideInProfile {
    0% {
        opacity: 0;
        transform: translateX(-150px);
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.profile_btn:hover {
    cursor: pointer;
    @include themed('background-color', 'brand_color_2');
    filter: contrast(80%)
}

.profile_btn h4 {
    @include themed('color', 'text_color');
    margin: 0;
    margin-left: 5px;
    font-size: 20px;
    font-weight: 200;
}

.profile_btn svg {
    @include themed('color', 'text_color');
}

.profile_btn_icon {
    margin-right: 5px;
}

.profile_editor_bio {
    align-self: center;
    padding: 15px;
    margin: 0;
    width: 95%;
    height: 90px;

    resize: none;
}

.profile_editor_banner_img {
    align-self: center;
    padding: 15px;
    margin: 0;
    width: 95%;
    height: 120px;
    border-radius: 15px;

    background-position: center;
    background-size: cover;
    @include themed('background-color', 'watermark_color');
}

.profile_editor_box {
    display: flex;
    flex-direction: column;
    
    @include themed('background-color', 'brand_color_4');
    width: 35vw;
    border-radius: 15px;
    padding: 15px;
    margin: 15px;
}

.profile_editor_title {
    margin-top: 5px;
    margin-bottom: 25px;
}

.profile_editor_box_big {
    width: calc(35vw * 2 + 15px * 2);
}

.profile_banner_upload {
    margin: 0;
    margin-bottom: 10px;
}

.profile_editor_customurl {
    width: 85px;
}

.profile_editor_customurl_beforeurl {
    color: lighten($disq_purple, 20%);
}

.profile_editor {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: -25px;
}

.profile_editor_table {
    width: 100%;
    align-self: center;
}

.profile_urlbox {
    max-width: 30vw;
}

.profile_banner_longboi {
    padding-left: 0;
    width: 200px;
    background-color: transparent;
}

@media only screen and (max-width: 1000px) {
    .sideby_linkpage {
        flex-direction: column;
    }

    .profile_editor_box {
        width: 80vw;
    }

    .profile_editor_emojipicker {
        right: 2vw !important;
    }
}

.profile_bio_container {
    position: relative;
}

.profile_editor_emojipicker {
    position: absolute;
    right: 0.8vw;
    bottom: 10%;
    @include themed('color', 'groi');
    z-index:1;
    padding:0;
    margin:0;
}

.profile_editor_emojipicker:hover {
    transform: scale(1.2);
    transition: .2s all;
    cursor: pointer;
}

@media only screen and (min-width: 701px) {
    .profile_actions {
        position: absolute;
        bottom: 35px;
        left: 35px;
        transform: none;
    }

    .profile_promo { 
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.profile_actions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile_promo { 
    margin: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;

    transition: .3s all; 
    padding: 15px;
    border-radius: 15px;
    @include themed('background-color', 'brand_color_2');
    width: 160px;
    box-shadow: 0px 7px 28px -6px rgba(0,0,0,0.4);

    h1 {
        margin: 0;
        font-size: 18px;
        font-weight: 400;
    }

    &:hover {
        box-shadow: 10px 10px 28px -5px rgba(0,0,0,0.75);
        transform: scale(1.1) translate(0%, -5%);
        z-index: 1000;
        cursor: pointer;
    }
}

.profile_editfield {
    & {
        filter: contrast(30%);
        margin-left: 10px;
        transition: .3s ease filter;
    }

    &:hover {
        filter: contrast(100%);
        cursor: pointer;
        transform: scale(1.1);
    }
}